---
layout: page
title: Archive
permalink: /archive/
---

{% if site.posts.size == 0 %}
<p>
  There are no posts here. Come back later :)
</p>
{% else %}
  <div class="posts post-grouping">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%B %Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2>{{ currentdate }}</h2>
        <ul class="related-posts">
          {% assign date = currentdate %}
      {% endif %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
    {% if site.posts.size != 0 %}
      </ul>
    {% endif %}
  </div>
{% endif %}
