<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign root_url = site.baseurl | append: '/' %}
      <a class="sidebar-nav-item{% if page.url == root_url %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-social">
      {% if site.social.email %}
        <a class="email" href="mailto:{{ site.social.email }}" title="Email">Email</a>
      {% endif %}
      {% if site.social.linkedin_user %}
        <a class="linkedin" href="http://www.linkedin.com/in/{{ site.social.linkedin_user }}" title="LinkedIn">LinkedIn</a>
      {% endif %}
      {% if site.social.github_user %}
        <a class="github" href="https://github.com/{{ site.social.github_user }}" title="GitHub">GitHub</a>
      {% endif %}
      {% if site.social.stackoverflow_user %}
        <a class="stackoverflow" href="https://stackoverflow.com/users/{{ site.social.stackoverflow_user }}" title="Stack Overflow">Stack overflow</a>
      {% endif %}
      <a class="rss" href="{{ site.baseurl }}/atom.xml" title="RSS">RSS</a>
    </div>

  </div>
</div>
