@import "utilities";
@import "colors";

/* Overrides */

.content {
  @media (min-width: 48rem) {
    max-width: 52rem;
  }
}

.sidebar-nav-item {
  display: inline;
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: 48rem) {
    display: block;
    margin-right: 0;
  }
}

.post-date {
  display: inline;
}
.post-meta {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.post-title {
  font-size: 2.5rem;
}

img {
  border-radius: 0;
}

/* Source code */
pre {
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  padding: 0.5rem;
}

pre.highlight {
  overflow-x: auto;
}

div.highlight > table {
  display: block;
  overflow-x: auto;
  border: 0 solid black;
}

.highlight {
  border-radius: 0;

  table {
    border-collapse: separate;

    tbody tr td {
      background-color: inherit;

      &.code {
        width: 100%;
      }
    }
  }
}

.highlighter-rouge {
  position: relative;

  &>.highlight::before {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #C0C0C0;
    opacity: 0.6;
    color: black;
    border-radius: 0 0 0 0.25rem;
    padding: 0 0.25rem;
  }

  &.language-csharp>.highlight::before {
    content: "C#";
  }

  &.language-html>.highlight::before {
    content: "HTML";
  }

  &.language-fsharp>.highlight::before {
    content: "F#";
  }

  &.language-sql>.highlight::before {
    content: "SQL";
  }
}

/* Social */

.sidebar-social {
  margin-bottom: 1rem;

  a {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 0.25rem 0.25rem 0;
    opacity: 0.5;
    @include border-radius(50%);
    @include hide-text;

    &:hover {
      opacity: 1;
    }

    &.email {
      background: url('../images/social/email.png') center no-repeat #050505;
      border: 1px solid #050505;
    }

    &.linkedin {
      background: url('../images/social/linkedin.png') center no-repeat #005A87;
      border: 1px solid #005A87;
    }

    &.github {
      background: url('../images/social/github.png') center no-repeat rgb(175,182,202);
      border: 1px solid rgb(175,182,202);
    }

    &.rss {
      background: url('../images/social/rss.png') center no-repeat #EF7522;
      border: 1px solid #EF7522;
    }
  }
}

/* Pagination */
.pagination {
  margin-left: 0;
  margin-right: 0;

  @media (min-width: 30em) {
    margin: 2rem 0;
  }
}

/* Footer */
.content {
  padding-bottom: 1rem;
}

#footer {
  text-align: center;
  font-size: 0.65rem;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #CCC;
}

/* Tags */
.post-tag, a.post-tag {
  margin: 0.05rem 0.15rem;
  padding: 0 0.5rem;
  @include border-radius(5px);
  white-space: nowrap;
  font-size: 0.9rem;

  &::before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: 0.5rem;
  }
}
a.post-tag {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.post-grouping
{
  h2 {
    border-bottom: 1px solid #CCC;
  }

  .related-posts li {
    padding-left: 1rem;
  }

  ul {
    margin-bottom: 2rem;
  }
}

/* Share buttons */
#post-share {
  .share-button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    @include border-radius(50%);

    &:hover {
      text-decoration: none;
    }

    i {
      width: 1rem;
      height: 1rem;
      color: white;
    }

    &.facebook {
      background-color: #4A66B7;
      &:hover {
        background-color: darken(#4A66B7, 15%);
      }
    }

    &.googleplus {
      background-color: #DD4B39;
      &:hover {
        background-color: darken(#DD4B39, 15%);
      }
    }

    &.linkedin {
      background-color: #0077B5;
      &:hover {
        background-color: darken(#0077B5, 15%);
      }
    }
  }
}
