@import "colors";

.theme-custom {
  .sidebar {
    background-color: $primary-color;
  }

  .content a,
  .related-posts li a:hover {
    color: $primary-color;
  }

  .post-tag,
  a.post-tag,
  .content a.post-tag
  {
    color: $secondary-color;
    background-color: $light-secondary-color;

    &:hover {
      color: white;
      background-color: $secondary-color;
    }
  }
}
