---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <span class="post-tags">
      {% for tag in page.tags %}
        <a class="post-tag" href="{{ site.baseurl }}tags/#{{ tag | slugify }}-ref">{{ tag }}</a>
      {% endfor %}
    </span>
  </div>
  {{ content }}
</div>

<div class="related">
  <h2>You may also like</h2>

  <ul class="related-posts">

    {% assign maxrelated = 3 %}
    {% assign mincommontags = 1 %}

    {% assign related = "" | split:'' %}

    {% for post in site.posts %}
      {% if post.id == page.id %}
        {% continue %}
      {% endif %}

      {% assign cn = 0 %}
      {% for tag in page.tags %}
        {% if post.tags contains tag %}
          {% assign cn = cn | plus:1 %}

          {% if cn >= mincommontags %}
            <li>
              <h3>
                <a href="{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date_to_string }}</small>
                </a>
              </h3>
            </li>
            {% assign related = related | push:post.id %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if related.size < maxrelated %}
      {% assign cn = related.size %}
      {% for post in site.related_posts %}
        {% if related contains post.id %}
          {% continue %}
        {% endif %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
        {% assign cn = cn | plus:1 %}
        {% if cn >= maxrelated %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
